/* Saul Arechavaleta Zurita */

/* Estilos caja contenedora */
.content-algarabia{
    height: 500px;
    width: 100%;
    background-color: white;
    border-radius: 5px;
    margin-bottom: 10%; 
    display: flex;
}

/* Ocultar barra de navegacion lateral */
::-webkit-scrollbar {
    display: none;
}

/* Estilos texto Algarabia */
.texto-proyecto h1{
    width: 20%;
    position: absolute;
    color: black;
    font-size: 1em;
    font-weight: bold;
    margin-top: 5%;
    word-spacing: 10px;
    margin-left: 60%;
}

/* Estilos texto generales */
.texto-proyecto h2{
    width: 20%;
    position: absolute;
    color: black;
    font-size: 1em;
    margin-top: 10%;
    word-spacing: 10px;
    font-family: 'Roboto Condensed', sans-serif;
    margin-left: 60%;
}

/* Tamaño imagenes */
img{
    max-width: 100%;
}

/* Estilos contenedor slider */
.container-all{
    position: relative;
    max-width: 1000px;
    width: 100%;
    height: 130%;
    border-radius: 6px;
    overflow: hidden;
}

/* Estilos generales slider */
.slide{
    display: flex;
    transform: translate3d(0,0,0);
    transition: all 600ms;
    animation: autoplay 6.5s alternate forwards infinite;
}

.item-slide{
    position: relative;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    flex-grow: 0;
    max-width: 100%;

}

/* Estilos posicionamiento botones */
.pagination{
    position: absolute;
    bottom: 20px;
    left: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
}

/* Estilos generales botones */
.pagination-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid white;
    width: 30px;
    height: 30px;
    border-radius: 4px;
    overflow: hidden;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.5);
    margin: 0 10px;
    text-align: center;
    transition: all 300ms;
}

/* Hover para efecto lupa */
.pagination-item:hover{
    transform: scale(2);
}

/* Estilos imagenes */
.pagination-item img{
    display: inline-block;
    max-width: none;
    height: 100%;
    transform: scale(1);
    opacity: 0;
    transition: all 300ms;
}

/* Estilos hover de las imagenes */
.pagination-item img:hover{
    opacity: 1;
    transform: scale(1);
}

/* Animacion y fondos checked para el slider manual */
input[id="1"]:checked ~ .slide{
    animation: none;
    transform: translate3d(0,0,0);
}

input[id="1"]:checked ~ .pagination .pagination-item[for="1"]{
    background: #fff;
}

input[id="2"]:checked ~ .slide{
    animation: none;
    transform: translate3d(-100%,0,0);
}

input[id="2"]:checked ~ .pagination .pagination-item[for="2"]{
    background: #fff;
}

input[id="3"]:checked ~ .slide{
    animation: none;
    transform: translate3d(-200%,0,0);
}

input[id="3"]:checked ~ .pagination .pagination-item[for="3"]{
    background: #fff;
}

input[id="4"]:checked ~ .slide{
    animation: none;
    transform: translate3d(-300%,0,0);
}

input[id="4"]:checked ~ .pagination .pagination-item[for="4"]{
    background: #fff;
}